<div class="folder-list-group">
  <ng-container *ngTemplateOutlet="folderComp; context: reference"></ng-container>
</div>

<ng-template
  #folderComp
  let-exist="exist"
  let-expanded="expanded"
  let-isroot="isRoot"
  let-files="files"
  let-folders="folders"
  let-path="path"
>
  <div class="folder-container" [ngClass]="{ 'folder-closed': !expanded, 'container-root': isroot }">
    <ng-container *ngIf="exist">
      <div
        class="file-group"
        *ngIf="files.length > 0"
        [ngClass]="{ 'files-root': isroot, 'files-no-folders': folders.length === 0 && !isroot }"
      >
        <ng-container *ngTemplateOutlet="folderHeader || defaultFolderHeader; context: { path: path }"></ng-container>
        <div *ngFor="let file of files" class="single-file">
          <ng-container
            *ngTemplateOutlet="
              fileContext || defaultFileContext;
              context: {
                file: file,
                path: path,
                event: onFileTapped
              }
            "
          >
          </ng-container>
        </div>
      </div>
      <div class="folder-group" *ngIf="folders.length > 0" [ngClass]="{ 'folder-root': isroot }">
        <ng-container *ngFor="let folder of folders">
          <div class="single-folder">
            <ng-container
              *ngTemplateOutlet="
                folderTitle || defaultFolderTitle;
                context: {
                  folder: folder,
                  path: path,
                  event: onExpanded
                }
              "
            >
            </ng-container>
          </div>
          <ng-container>
            <ng-container *ngTemplateOutlet="folderComp; context: folder"></ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="!(files.length > 0) && !(folders.length > 0)" class="no-file" [ngClass]="{ 'empty-if-root': isroot }">
        <ng-content [defaultValue]="'folder is empty.'" select="[id=folderEmpty]"></ng-content>
      </div>
    </ng-container>
    <div *ngIf="!exist" class="no-exist" [ngClass]="{ 'empty-if-root': isroot }">
      <ng-content [defaultValue]="'app folder is not exist.'" select="[id=rootNotExist]"></ng-content>
    </div>
  </div>
</ng-template>

<ng-template #defaultFileContext let-file="file" let-path="path" let-event="event">
  <div (click)="event(file)">
    <span>{{ file | childUrl: path }}</span>
  </div>
</ng-template>

<ng-template #defaultFolderTitle let-folder="folder" let-path="path" let-event="event">
  <div [ngClass]="{ opened: folder.expanded }" (click)="event(folder)">
    <icon type="angle-down" class="exp-icon"></icon>
    <span>{{ folder.path | childUrl: path }}</span>
  </div>
</ng-template>

<ng-template #defaultFolderHeader></ng-template>
