<div class="container">
  <div class="header" [ngStyle]="{ 'z-index': 1 }">
    <div class="back-group">
      <div class="back-button" [ngClass]="{ 'back-disable': !canGoBack }" (click)="canGoBack && onBackClick()">
        <icon type="angle-left"></icon>
      </div>
      <div class="back-button" [ngClass]="{ 'back-disable': !canGoForward }" (click)="canGoForward && onForwardClick()">
        <icon type="angle-right"></icon>
      </div>
    </div>
    <div class="address-group">
      <div class="address-panel">
        <icon type="unlink"></icon>
        <span class="address-scope"> xiaokuaiji</span>
        <span class="address-split"> | </span>
        <span>{{ currentPath | childUrl: "" }}</span>
      </div>
    </div>
    <div class="menu-group">
      <div *ngFor="let action of actions" class="menu-button" (click)="action.onclick()">
        <icon [type]="action.type" [class]="action.class"></icon>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section content-root">
      <router-outlet></router-outlet>
    </div>
    <div class="section right-section msg-box" [ngClass]="{ 'no-display': !showMsg }">
      <div class="message-item">暂时没有新消息。</div>
    </div>
    <div class="section right-section" [ngClass]="{ 'no-display': !showMenu }">
      <div
        *ngFor="let eachUrl of urls"
        [routerLink]="eachUrl[0]"
        routerLinkActive="router-link-active"
        class="router-link"
      >
        <span>{{ eachUrl[1] }}</span>
      </div>
    </div>
  </div>
</div>
