$primary-color: #1f67d3;
$primary-weak-color: #3477db;
$primary-dead-color: #4285e9;
$safe-color: #1bac88;
$hover-color: #f0ba55;
$active-color: #1859bb;
$msg-box-color: #f8f8f8;
$font-main-color: #fff;
$unable-color: #acacac;
$disable-color: #cdcdcd;
$enter-duration: 0.45s;
$leave-duration: 0.25s;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 100vh;
  min-height: 100vh;

  a {
    cursor: pointer;
  }

  .router-link {
    cursor: pointer;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    color: $font-main-color;
    text-decoration: none;
    line-height: 32px;
    transition: background-color $enter-duration;

    span {
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $hover-color;
    }
  }

  .router-link-active {
    background-color: $active-color;
    transition: background-color $enter-duration;
  }

  .icon-label {
    margin-left: 4px;
  }

  .icon-size-19 {
    font-size: 19px;
  }

  .icon-size-18 {
    font-size: 18px;
  }

  .icon-size-17 {
    font-size: 17px;
  }

  .icon-size-16 {
    font-size: 16px;
  }

  .message-item {
    border: 1px solid $primary-weak-color;
    padding: 12px;
    border-radius: 8px;
    color: $primary-weak-color;
    font-size: 14px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $primary-color;
    color: $font-main-color;
    padding: 0;
    box-shadow: 0px 0px 8px #00000090;
    box-sizing: border-box;
    min-height: 50px;

    .back-group {
      box-sizing: border-box;

      .back-button {
        cursor: pointer;
        display: inline-block;
        padding: 15px 20px;
        transition: $enter-duration;

        &:hover {
          color: $hover-color;
          background-color: $primary-weak-color;
        }

        icon {
          font-size: 24px;
          margin-top: -5px;
        }
      }

      .back-disable {
        color: $disable-color;
        cursor: unset;

        &:hover {
          color: $disable-color;
          background-color: $primary-color;
        }
      }
    }

    .address-group {
      flex: 1;
      padding: 0 12px;

      .address-panel {
        vertical-align: middle;
        background-color: #fff;
        border-radius: 12px;
        font-size: 14px;
        margin: 9px 4px;
        padding: 0 16px;
        line-height: 32px;
        color: $primary-dead-color;

        .address-scope {
          color: $safe-color;
        }

        .address-split {
          color: $unable-color;
        }
      }
    }

    .menu-group {
      text-align: right;
      box-sizing: border-box;

      .menu-button {
        cursor: pointer;
        display: inline-block;
        padding: 15px 20px 15px 20px;
        transition: $enter-duration;

        &:hover {
          color: $hover-color;
          background-color: $primary-weak-color;
        }
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
    box-sizing: border-box;

    .section {
      flex: 1;
    }

    .content-root {
      overflow-y: auto;
    }

    .right-section {
      flex: unset;
      width: 240px;
      background-color: $primary-weak-color;
      color: $font-main-color;
      transition: $enter-duration;
      box-shadow: 0px 0px 6px 0px #00000090;
    }

    .msg-box {
      padding: 8px;
      background-color: $msg-box-color;
      box-shadow: 0px 0px 6px 0px #00000090;
    }

    .no-display {
      width: 0;
      opacity: 0;
      padding: 0;
      color: transparent;
      transition: $leave-duration;

      div {
        display: none;
      }
    }
  }
}
