.normalized-button {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  transition: 0.35s;
}

.default {
  border: 1px solid #cdcdcd;
  background-color: #fff;
  color: #000;

  &:hover {
    background-color: #fcfcfc;
  }
}

.primary {
  border: 1px solid #1f67d3;
  background-color: #1f67d3;
  color: #fff;

  &:hover {
    background-color: #4387ec;
  }
}

.danger {
  border: 1px solid #e72c45;
  background-color: #e72c45;
  color: #fff;

  &:hover {
    background-color: #f0495f;
  }
}

.default-outline {
  border: 1px solid #cdcdcd;
  background-color: #fff;
  color: #000;

  &:hover {
    background-color: #fff;
  }
}

.primary-outline {
  border: 1px solid #1f67d3;
  background-color: #fff;
  color: #1f67d3;

  &:hover {
    background-color: #fff;
  }
}

.danger-outline {
  border: 1px solid #e72c45;
  background-color: #fff;
  color: #e72c45;

  &:hover {
    background-color: #fff;
  }
}

.size-normal {
  min-width: 80px;
}

.size-large {
  min-width: 100%;
}

.size-small {
  padding: 4px 6px;
  min-width: 40px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
}

.btn-circle {
  border-radius: 24px;
}
